/*
 * Copyright (C) 2014 Meraki, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "iproc.dtsi"

/ {
        model = "Meraki MX65";
        compatible = "meraki,mx65", "meraki,kingpin", "meraki,wired-arm-nsp",
			"broadcom,iproc", "bcm,iproc";

        gpiochip: gpio-controller@0000 {
            #gpio-cells = <2>;
            compatible = "iproc,iproc-gpio";
            gpio-controller;
        };

		leds {
			compatible = "gpio-leds";
			orange {
				label = "power:orange";
				gpios = <&gpiochip 3 1>;	// Pin 3, Active Low
				default-state = "on";
			};
			white {
				label = "power:white";
				gpios = <&gpiochip 2 0>;	// Pin 2, Active High
				default-state = "off";
			};
		};

        /* Subtract 32 from all IRQ numbers in device tree */
        intc: interrupt-controller@19021000 {
                interrupt-controller;
                compatible = "arm,cortex-a9-gic";
                #interrupt-cells = <3>;
                #address-cells = <1>;
                reg = <0x19021000 0x1000>,
                <0x19020100 0x100>;
        };

        uart0: uart@18000300 {
                // Required
                compatible = "ns16550A";
                reg = <0x18000300 0x08>;
                clock-frequency = <62500000>;   // uartclkdiv = 2. Kingpin has a higher clock rate.
                interrupts = <0 85 1>;          // non-PPI, 117 - 32, active high edge-triggered
                interrupt-parent = <&intc>;

                // Optional
                reg-shift = <0>;
                reg-offset = <0>;
                reg-io-width = <1>;
        };

        i2c-gpio {
            compatible = "i2c-gpio";
            gpios = <&gpiochip 5 0 /* sda */
                 &gpiochip 4 0>; /* scl */
            i2c-gpio,delay-us = <10>;   /* ~100 kHz */

            config_eeprom: at24@50 {
                compatible = "atmel,24c64";
                pagesize = <32>;
                reg = <0x50>;
            };

        };

        // GPIO pins
        // LEDs 2 - White, 3 - Orange */
        // I2C Control: SCL - 4, SDA - 5 */
        // 6 - Reset RST_DEFAULT# - Input, state of reset button */
        // 21 - USB power */
        // 22, 23 - LanP0 Leds */
        // 24, 25 - LanP1 Leds */

        gpio-cfg {
                compatible = "iproc-gpio-cfg";
                gpios-general = <2 3 4 5 6 21 22 23 24 25>;
        };

        board-data {
            compatible = "meraki,meraki-config";
            i2c-eeprom = <&config_eeprom>;
        };
};
