/*
 *  BSD LICENSE
 *
 *  Copyright(c) 2015 Broadcom Corporation.  All rights reserved.
 *
 *  Redistribution and use in source and binary forms, with or without
 *  modification, are permitted provided that the following conditions
 *  are met:
 *
 *    * Redistributions of source code must retain the above copyright
 *      notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above copyright
 *      notice, this list of conditions and the following disclaimer in
 *      the documentation and/or other materials provided with the
 *      distribution.
 *    * Neither the name of Broadcom Corporation nor the names of its
 *      contributors may be used to endorse or promote products derived
 *      from this software without specific prior written permission.
 *
 *  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 *  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 *  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 *  A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 *  OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 *  SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 *  LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 *  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 *  THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 *  (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 *  OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

/dts-v1/;

#include "bcm4708.dtsi"

/ {
	model = "Meraki MR26";
	compatible = "meraki,venom";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x00000000 0x07ff0000>;
	};

  leds {
      compatible = "gpio-leds";
      orange {
         label = "power:orange";
         gpios = <&gpioA 13 0>;
      };
      white {
         label = "power:white";
         gpios = <&gpioA 12 0>;
      };
   };

	tricolor-led {
		compatible = "numen,leds-nu801";
		controller1 {
			label = "tricolor";
			cki = <&gpioA 0 0>;
			sdi = <&gpioA 2 0>;
			lei = <&gpioA 1 0>;
			ndelay  = <50>;
			num_leds = <1>;
			led_color0 {
				label = "blue";
				state = "off";
			};
			led_color1 {
				label = "green";
				state = "off";
			};
			led_color2 {
				label = "red";
				state = "off";
			};
		};
	};

   wdt {
       compatible = "iproc-wdt";
       reg = <0x18000000 0x100>;
    };

	my_gmac0: ethernet@0x18026000 {
		compatible = "brcm,amac";
		mac-address = [ 00 18 0A 00 01 02 ];
		reg = <0x18026000 0x800>,
				<0x18112408 0x4000>,
				<0x18007000 0x1000>;
		reg-names = "amac_base", "idm_base","srab_base";
		interrupts = <GIC_SPI 149 IRQ_TYPE_LEVEL_HIGH>;
	};

	gpio-buttons {
	   button@1 {
	      gpios = <&gpioA 11 1>;
	   };
	};

	pcie2: pcie@18014000 {
                mii-bus = <&mdio>;
        };
};

&uart0 {
	status = "okay";
   clock-frequency = <50000000>;
};

&nand {
	status = "okay";

	nandcs@0 {
		compatible = "brcm,nandcs";
		reg = <0>;
		nand-on-flash-bbt;

		#address-cells = <1>;
		#size-cells = <1>;

		nand-ecc-mode = "hw";
		nand-bus-width = <8>;
		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;

		brcm,nand-oob-sector-size = <16>;

      partition@0 {
         label = "U-boot";
         reg = <0x00000000 0x200000>;
      };

      partition@1 {
         label = "U-boot-env";
         reg = <0x200000 0x200000>;
      };

      partition@2 {
         label = "U-boot-backup";
         reg = <0x400000 0x200000>;
      };

      partition@3 {
         label = "U-boot-env-backup";
         reg = <0x600000 0x200000>;
      };

      partition@4 {
         label = "ubi";
         reg = <0x800000 0x7780000>;
      };
	};
};

&mdio {
    status = "okay";
};